@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*::before{
  margin: 0;
  box-sizing: border-box;
}
html{
  font-size:67.6%;
}
body{
  font-size: 1.6rem;
  background-image: url('./images/bg2.png');
  background-size: cover;
}
li{
  list-style: none;
  font-family: 'Quicksand';
}
a{
  text-decoration: none;
  color:whitesmoke;
  font-family: 'Quicksand';
  font-weight: 400;
}
a:hover{
  color: rgb(250, 90, 90);
}
.navbar{
  align-items: center;
  display: flex;
  height: 8vh;
  justify-content: space-around;
}
img {
  width: 18rem;
  top: -5vh;
  left: 1.5vw;
  position: fixed;
}
.menu{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
  position: fixed;
  top: 3.2vh;
  right: 7vw;
}
.nav_toggle div {
  width: 2.7rem;
  height: 0.2rem;
  margin: 0.4rem;
  background-color: whitesmoke;
}
.nav_toggle{
  cursor: pointer;
  display: none;
}
.intro{
  font-size: 6rem;
  color: whitesmoke;
  font-weight: 500;
  font-family: 'Quicksand';
  position: absolute;
  left: 6.5vw;
  top: 25vh;
  z-index: -1;
}
.intro1{
  font-size: 6rem;
  color: whitesmoke;
  font-weight: 500;
  font-family: 'Quicksand';
  position: absolute;
  left: 7vw;
  top: 36.5vh;
  z-index: -1;
}
.intro2{
  font-size: 2.5rem;
  color: whitesmoke;
  font-weight: 400;
  font-family: 'Quicksand';
  position: absolute;
  left: 7vw;
  top: 56vh;
  z-index: -1;
}
.intro3{
  font-size: 2.5rem;
  color: whitesmoke;
  font-weight: 400;
  font-family: 'Quicksand';
  position: absolute;
  left: 7vw;
  top: 61.5vh;
  z-index: -1;
}
.more{
  color: rgb(22, 22, 22);
  background-color: rgb(250, 90, 90);
  width: 16vh;
  height: 7vh;
  border-radius: 5px;
  font-family: 'Quicksand';
  font-weight: 500;
  font-size: 1.35rem;
  top: 68vh;
  left: 7vw;
  position: absolute;
  border-style: none;
}
.serv{
  font-family: 'Quicksand';
  position: absolute;
  font-size: 4rem;
  color: whitesmoke;
  top: 64vw;
  left: 7vw;
  font-weight: 500;
}
.serv_span{
  color: rgb(250, 90, 90);
  font-style: italic;
}
.a_1{
  font-family: 'Quicksand';
  position: absolute;
  font-size: 1.7rem;
  color: whitesmoke;
  left: 7.5vw;
  top: 70vw;
}
.a_2{
  font-family: 'Quicksand';
  position: absolute;
  font-size: 1.7rem;
  color: whitesmoke;
  left: 7.5vw;
  top: 72vw;
}
.a_3{
  font-family: 'Quicksand';
  position: absolute;
  font-size: 1.7rem;
  color: whitesmoke;
  left: 7.5vw;
  top: 74vw;
}
.a_4{
  font-family: 'Quicksand';
  position: absolute;
  font-size: 1.7rem;
  color: whitesmoke;
  left: 7.5vw;
  top: 78vw;
}
.a_5{
  font-family: 'Quicksand';
  position: absolute;
  font-size: 1.7rem;
  color: whitesmoke;
  left: 7.5vw;
  top: 80vw;
}
.a_6{
  font-family: 'Quicksand';
  position: absolute;
  font-size: 1.7rem;
  color: whitesmoke;
  left: 7.5vw;
  top: 82vw;
}
.desc_1{
  position: absolute;
  background-color: rgb(27, 28, 30);
  border: 1px solid rgb(27, 28, 30);
  color:rgb(136,156,231);
  font-family: 'Quicksand';
  font-size: 1.65rem;
  font-weight: 600; 
  width: 16vw;
  height: 25vh;
  border-radius: 7px;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 15vh;
  top: 100vh;
  left: 59vw;
}
.desc_about_1{
  font-family: 'Quicksand';
  color:rgb(138,138,138);
  position: absolute;
  font-size: 1.35rem;
  left: 60vw;
  top: 120vh;
}
.desc_line{
  background-color: rgb(73, 72, 72);
  left: 60.3vw;
  top: 136vh;
  position: absolute;
  border-radius: 7px;
  width: 15.5vw;
  height: 0.3vw;
}
.desc_2{
  position: absolute;
  background-color: rgb(27, 28, 30);
  border: 1px solid rgb(27, 28, 30);
  color:rgb(136,156,231);
  font-family: 'Quicksand';
  font-size: 1.45rem;
  font-weight: 600; 
  width: 16vw;
  height: 25vh;
  border-radius: 7px;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 15vh;
  top: 100vh;
  left: 78vw;
}
.desc_about_2{
  font-family: 'Quicksand';
  color:rgb(138,138,138);
  position: absolute;
  font-size: 1.3rem;
  left: 79vw;
  top: 125vh;
}
.desc_line_1{
  background-color: rgb(73, 72, 72);
  left: 79.3vw;
  top: 138vh;
  position: absolute;
  border-radius: 7px;
  width: 15.5vw;
  height: 0.3vw;
}
.desc_3{
  position: absolute;
  background-color: rgb(27, 28, 30);
  border: 1px solid rgb(27, 28, 30);
  color:rgb(136,156,231);
  font-family: 'Quicksand';
  font-size: 1.65rem;
  font-weight: 600; 
  width: 16vw;
  height: 25vh;
  border-radius: 7px;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 15vh;
  top: 142vh;
  left: 59vw;
}
.desc_about_3{
  font-family: 'Quicksand';
  color:rgb(138,138,138);
  position: absolute;
  font-size: 1.35rem;
  left: 60vw;
  top: 162vh;
}
.desc_line_2{
  background-color: rgb(73, 72, 72);
  left: 60.3vw;
  top: 179vh;
  position: absolute;
  border-radius: 7px;
  width: 15.5vw;
  height: 0.3vw;
}
.desc_4{
  position: absolute;
  background-color: rgb(27, 28, 30);
  border: 1px solid rgb(27, 28, 30);
  color:rgb(136,156,231);
  font-family: 'Quicksand';
  font-size: 1.6rem;
  font-weight: 600; 
  width: 16vw;
  height: 25vh;
  border-radius: 7px;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 15vh;
  top: 142vh;
  left: 78vw;
}
.desc_about_4{
  font-family: 'Quicksand';
  color:rgb(138,138,138);
  position: absolute;
  font-size: 1.35rem;
  left: 79vw;
  top: 165vh;
}
.desc_line_3{
  background-color: rgb(73, 72, 72);
  left: 79.3vw;
  top: 179vh;
  position: absolute;
  border-radius: 7px;
  width: 15.5vw;
  height: 0.3vw;
}
@media screen and (max-width: 967px)and (min-width: 450px){
  .nav_toggle{
    display: block;
    z-index: 99;
    position: fixed;
    right: 5vh;
  }
  body{
    width: 75vw;
    background-image: url('./images/bg2.png');
    background-size: cover;
  }
  img {
    z-index: 99;
    position: fixed;
    left: 2vh;
  }
  .menu{
    position: fixed;
    top: -2vh;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(22, 22, 22);
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
  }
  .item{
    position: fixed;
    top: 35vh;
    left: 15vh;
  }
  .item1{
    position: fixed;
    top: 43vh;
    left: 15vh;
  }
  .item2{
    position: fixed;
    top: 51vh;
    left: 15vh;
  }
  .item3{
    position: fixed;
    top: 59vh;
    left: 15vh;
  }
  .intro{
    left: 10vh;
    top: 16rem;
    font-size: 6vw;
    position: relative;
  }
  .intro1{
    left: 10vh;
    top: 17rem;
    font-size: 6vw;
    position: relative;
  }
  .intro2{
    left: 10vh;
    top: 40vh;
    font-size: 10px;
    position: relative;
  }
  .intro3{
    left: 10vh;
    top: 42vh;
    font-size: 10px;
    position: relative;
  }
}
@media screen and (max-width: 449px){
  .nav_toggle{
    display: block;
    z-index: 99;
    position: fixed;
    right: 3vh;
    top: 5vh;
  }
  body{
    width: 75vw;
    background-image: url('./images/bg2.png');
    background-size: cover;
  }
  img {
    z-index: 99;
    position: fixed;
    left: -4vh;
  }
  .menu{
    position: fixed;
    top: -2vh;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(22, 22, 22);
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
  }
  .item{
    position: fixed;
    top: 35vh;
    left: 12vh;
  }
  .item1{
    position: fixed;
    top: 43vh;
    left: 12vh;
  }
  .item2{
    position: fixed;
    top: 51vh;
    left: 12vh;
  }
  .item3{
    position: fixed;
    top: 59vh;
    left: 12vh;
  }
  .intro{
    left: 3vh;
    top: 18rem;
    font-size: 7.3vw;
    position: relative;
  }
  .intro1{
    left: 3vh;
    top: 18.5rem;
    font-size: 7.3vw;
    position: relative;
  }
  .intro2{
    left: 3vh;
    top: 40vh;
    font-size: 10px;
    position: relative;
  }
  .intro3{
    left: 3vh;
    top: 42vh;
    font-size: 10px;
    position: relative;
  }
}

.nav_active{
  transform: translateX(0);
}
.nav_t .line1{
  transform: rotate(-45deg) translate(-4px, 5px);
}
.nav_t .line2{
  opacity: 0;
}
.nav_t .line3{
  transform: rotate(45deg) translate(-4px, -5px);
}